body{
    margin: 0;
}

/* Logo */
.navbar_Logo{
    display: flex; /* flex box 선언 */
    justify-content: space-between; /* 일정한 간격으로 배치 */
    padding: 0px 12px;
    margin: 0px 10%;
}

#Logo_Main{
    font-size: 22px;
    margin: 0 0 15px 0;
    color: rgb(21, 21, 235);
}

/* Menu */
a{
    text-decoration: none; /* a 태그 밑줄 제거 */
}

.navbar{
    display: flex; 
    justify-content: space-between; /* 일정한 간격으로 배치 */
    border-top: 1px solid rgb(225, 225, 225);
    border-bottom: 1px solid blue;
}

.navbar_menu{
    display: flex;
    list-style: none; /* 리스트 앞의 점 제거 */
    padding-left: 0;
    margin: 0px 10%;
}

.navbar_menu li{ /* navbar_menu 안의 li 태그 */
    padding: 0px 12px;
}

.navbar_menu li p{/*  */
    color: black;
}