.navbar_Logo{
    display: flex; /* flex box 선언 */
    justify-content: space-between; /* 일정한 간격으로 배치 */
    padding: 0px 12px;
    margin: 0px 10%;
}

#Logo_Main{
    font-size: 22px;
    color: rgb(21, 21, 235);
}