.Content_div{ /*  div */
    text-align: center;
}

.Book_Space{
    text-align: center;
}

.Content{ /* ul */
    display: inline-flex;
    width: 70%;
}

ul, li{
    list-style: none;
}

.Theater{
    border-left: 2px solid rgb(172, 172, 172);
    border-right: 2px solid rgb(172, 172, 172);
    width: 20%;
}

[id$="List"]{
    padding: 0;
}

.Movie{
    border-right: 2px solid rgb(172, 172, 172);
    width: 40%;
}

.Date{
    border-right: 2px solid rgb(172, 172, 172);
    width: 25%;
}

.Time{
    border-right: 2px solid rgb(172, 172, 172);
    width: 40%;
}

.Table_div{
    text-align: center;
}

.Table{
    display: inline-block;
    border: 1px solid black;
    border-collapse: collapse;
}

td{
    border: 1px solid black;
    text-align: center;
}

a{
    color: black;
}